[Unit]
Description=Load iptables rules for Tailscale forwarding
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Load iptables rules from /etc/iptables/iptables-wireguard.rules
ExecStart=/sbin/iptables-restore /etc/iptables/iptables-wireguard.rules
ExecReload=/sbin/iptables-restore /etc/iptables/iptables-wireguard.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

