[Unit]
Description=Socat port forwarding from port %i to {{ socat_target_ip }}:%i
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP-LISTEN:%i,bind=[0.0.0.0],fork,reuseaddr TCP:{{ socat_target_ip }}:%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
