echo url="https://www.duckdns.org/update?domains=friclu,ha-friclu,argo-friclu,ld-friclu,syncthing-friclu&token={{ duckdns_token_google }}&ip=" | curl -k -K -
echo url="https://www.duckdns.org/update?domains=isabellabot,immich-friclu,fritzgpt,catchat-friclu,munchkinchat-friclu&token={{ duckdns_token_github }}&ip=" | curl -k -K -
echo url="https://www.duckdns.org/update?domains=fricloak,frault,frifana,frargo&token={{ duckdns_token_github_2 }}&ip=" | curl -k -K -
