echo url="https://www.duckdns.org/update?domains=friclu,ha-friclu,argo-friclu,ld-friclu,syncthing-friclu&token={{ duckdns_token_google }}&ip=" | curl -k -K -
echo url="https://www.duckdns.org/update?domains=grafana-friclu,immich-friclu,fabric-friclu,catchat-friclu,munchkinchat-friclu&token={{ duckdns_token_github }}&ip=" | curl -k -K -
